<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>Yia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="icon" href="//static.jdpay.com/m-wallet/v0.0.6/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="//static.jdpay.com/m-wallet/v0.0.6/img/app-icon.png">
</head>
<body>

</body>
</html>